
<div class="row justify-content-center">
  <div class="titile-block title-block_subpage login-sec">
      <h2>Tous les utilisateurs</h2>
  </div>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Avatar</th>
        <th scope="col">ID</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Pseudo</th>
        <th scope="col">Email</th>
        <th scope="col">Âge</th>
        <th scope="col">Admin</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <th scope="row"><% if user.avatar.attached? %>
          <%= image_tag user.avatar, class: "avatar-small" %>
        <% else %>
          <%= image_tag "avatar.jpg", class: "avatar-small" %>
        <% end %></th>
        <td><%= user.id %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.age %> ans</td>
        <% if user.admin? %>
          <td><span class="fa fa-check" style="font-size:20px;"></td>
        <% else %>
          <td></td>
        <% end %>
        <td><a href="/users/registrations/<%=user.id%>">
          <span class="fa fa-eye" style="font-size:20px;"></span>
          </a>
        <td>
          <% if current_user.id == user.id %>
          <% else %>
            <%= link_to conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post' do %>
            <span class="fa fa-envelope" style="font-size:20px;"></span>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
