<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="titile-block title-block_subpage">
            <h2>Boîte de réception</h2>
        </div>
    </div>
</div>

<main role="main" class="container bootdey.com">
  <div class="d-flex align-items-center p-3 my-3 bg-blue">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, class: "avatar" %>
    <% else %>
      <%= image_tag "avatar.jpg", class: "avatar" %>
    <% end %>
    <div>
      <h6 class="mb-0 lh-100"><%= current_user.firstname %></h6>
      <small>Messages</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">Messages reçus</h6>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
         <% if conversation.sender_id == current_user.id %>
           <% recipient = User.find(conversation.recipient_id) %>
         <% else %>
           <% recipient = User.find(conversation.sender_id) %>
         <% end %>
        <div class="media text-muted pt-3">
          <% if recipient.avatar.attached? %>
            <%= image_tag recipient.avatar, class: "avatar-small" %>
          <% else %>
            <%= image_tag "avatar.jpg", class: "avatar-small" %>
          <% end %>
          <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark"><%= recipient.firstname %></strong>
            <% if conversation.messages.last.read == false && conversation.messages.last.user_id == current_user.id %>
                <%= link_to conversation.messages.last.body, conversation_messages_path(conversation) %>
            <% elsif conversation.messages.last.read == false %>
              <%= link_to conversation.messages.last.body, conversation_messages_path(conversation), style: "font-weight:bold"%>
            <% else %>
              <%= link_to conversation.messages.last.body, conversation_messages_path(conversation) %>
            <% end %>
          </p>
        </div>
          <% end %>
        <% end %>
  </div>
  <!-- <div class="ui segment">
   <h3>All Users</h3>
    <div class="ui list">
     <% @users.each do |user| %>
      <% if user.id != current_user.id %>
       <div class="item">
        <%= user.username %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
      </div>
    <% end %>
   <% end %>
   </div>
  </div> -->
</main>
