
<div class="row justify-content-center">
  <div class="titile-block title-block_subpage login-sec">
      <h2>Mes bons plans</h2>
  </div>
</div>
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Date de publication</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @tips.each do |tip| %>
    <tr>
      <td><%= tip.title %></td>
      <td><%= tip.tip_time %></td>
      <td><%= link_to tip do %>
      <span class="fa fa-eye" style="font-size:25px;"></span>
      <% end %></td>
      <td><%= link_to edit_tip_path(tip) do %>
      <span class="fa fa-pencil" style="font-size:25px;"></span>
      <% end %></td>
      <td><%= link_to tip, method: :delete, data: { confirm: "Le bon plan va être définitivement supprimé, es-tu sûr(e) ?" } do %>
      <span class="fa fa-trash-o" style="font-size:25px;"></span>
      <% end %></td>
    </tr>
  <% end %>
</table>
</div>
