

    <!--============================= SUBPAGE HEADER BG =============================-->

            <div class="row justify-content-center">

                    <div class="titile-block title-block_subpage">
                        <h2>Ajouter un bon plan</h2>
                        <p> <a href="index.html"> </a> </p>
                    </div>
                </div>

    <!--// SUBPAGE HEADER BG -->
    <!--============================= ADD LISTING =============================-->
    <section class="main-block">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="listing-wrap">
                        <%= form_for @tip do |f| %>
                            <!-- General Information -->
                            <div class="listing-title">
                                <span class="ti-files"></span>
                                <h4>Informations</h4>

                             </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :title, "Nom du bon plan" %>
                                        <%= f.text_field :title, class: "form-control add-listing_form" %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :site, "Site/Facebook" %>
                                        <%= f.text_field :site, class: "form-control add-listing_form" %>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :category, "Catégories" %>
                                        <%= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true, as: :check_boxes %>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <%= f.label :description, "Description du bon plan" %>
                                        <%= f.text_area :description, class: "form-control add-listing_form" %>

                                    </div>
                                </div>
                            </div>
                            <!--//End General Information -->
                            <!-- Add Location -->
                            <div class="listing-title">
                                <span class="fa fa-location-arrow"></span>
                                <h4>Ajouter une adresse</h4>

                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Adresse</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Code Postal</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ville</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Pays</label>
                                        <input type="text" class="form-control add-listing_form">
                                    </div>
                                </div>

                            </div>
                            <!--//End Add Location -->
                            <!-- Add Gallery -->
                            <div class="listing-title">
                                <span class="ti-gallery"></span>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="custom-file">
                                      <%= f.file_field :pictures, :multiple => true, class: "form-control-file" %>
                                    </div>
                                </div>

                            </div>
                            <!--//End Add Gallery -->

                            <!-- Amenities -->
                            <div class="listing-title">
                                <span class="ti-gift"></span>



                            <div class="row">
                                <div class="col-md-12">
                                    <%= f.submit "Créer un bon plan", class: "btn btn-primary" %>
                                </div>
                            </div>
                            <!--//End Opening Hours -->
                            <% end %>

                    </div>
                </div>
              </div>
          </div>
      </section>
