
    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>Une des meilleures pizzeria de Naples</h5><br/><br/>
                      <p><span><%= image_tag "Pizzeria.jpg", class: "card-img-top",  width:150, height:250%><br/><br/>
                       $$$</span>$$</p><br/><br/>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="reserve-rating">
                            <span class=<button class="btn btn-primary btn-sm"></button>
                            <p><%= @tip.likes.count %> <%= (@tip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                            <% pre_like = @tip.likes.find { |like| like.user_id == current_user.id} %>
                              <% if pre_like %>
                                <%= button_to 'Unlike', tip_like_path(@tip, pre_like), method: :delete %>
                              <% else %>
                                <%= button_to 'Like', tip_likes_path(@tip), method: :post %>
                              <% end %></span>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="gray-dark booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap mt-4">
                      <div class="review-btn">
                          <a href="#" class="btn btn-outline-danger">Ecrire un commentaire</a>
                      </div>
                        <hr>
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <img src="images/customer-img1.jpg" class="img-fluid" alt="#">
                                  <p><%= @tip.creator.username %></p>
                                  <span>35 Reviews</span>
                            </div>
                        <div class="customer-content-wrap">
                                <div class="customer-content">
                                    <div class="customer-review">
                                        <h5>Miam</h5>
                                            <p><%= @tip.description %></p>
                                        <span class="round-icon-blank"></span>
                                    </div>
                                  <div class="customer-rating">8.0</div>
                                   </div>
                                      <p class="customer-text">I love the noodles here but it is so rare that I get to come here. Tasty Hand-Pulled Noodles is the best type of whole in the wall restaurant. The staff are really nice, and you should be seated quickly. I usually get the
                                          hand pulled noodles in a soup. House Special #1 is amazing and the lamb noodles are also great. If you want your noodles a little chewier, get the knife cut noodles, which are also amazing. Their dumplings are great
                                          dipped in their chili sauce. </p>
                                      <p class="customer-text">I love how you can see into the kitchen and watch them make the noodles and you can definitely tell that this is a family run establishment. The prices are are great with one dish maybe being $9. You just have to remember
                                          to bring cash.</p>
                                          <span>28 people marked this review as helpful</span>
                                          <a href="#"><span class="icon-like"></span>Helpful</a>
                                    </div>
                                  </div>
                          <hr>
                    </div>
                </div>
                  <div class="col-md-4 responsive-wrap">
                   <div class="contact-info">
                     <div class="address">
                       <div id="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.4779973110158!2d3.0616651156123296!3d50.63681327950147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d5887c0136b9%3A0x836a6d7bd2c18c65!2sPlace+Charles+de+Gaulle%2C+59800+Lille!5e0!3m2!1sfr!2sfr!4v1543321700204" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                           <span class="location"></span>
                            <p> Doyers St<br> New York, NY 10013<br> b/t Division St & St James Pl <br> Chinatown, Civic Center</p>
                              </div>
                        <div class="address">
                              <span class="telephone"></span>
                              <p> +44 20 7336 8898</p>
                            </div>
                          <div class="address">
                              <span class="Site"></span>
                              <p>https://burgerandlobster.com</p>
                          </div>
                          <div class="address">
                              <span class="Adresse"></span>
                              <p>Mon - Sun 09:30 am - 05:30 pm </p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>

      </section>
      <!--//END BOOKING DETAILS -->
