<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%=@tip.latitude%>, <%=@tip.longitude%>)
    });
    </script>
<% end %>
    <!--============================= BOOKING =============================-->
<div class="container">
  <div class="row">
    <div class="col-md-6 responsive-wrap">
      <h5><%= @tip.title %></h5>
      <p class="reserve-description"><small>Publié le <%= @tip.time %></small></p>
      <hr>
      <p class="booking-checkbox"><%= @tip.description %></p>
      <hr>
      <div class="row d-flex justify-content-between">
        <div class="col-md responsive-wrap">
          Catégories :
          <% @tip.categories.each do |name| %>
            <% if name == @tip.categories.last %>
              <%= name.name %>
            <% else %>
              <%= name.name %>,
            <% end %>
          <% end %>
        </div>
        <div class="col-md-3 responsive-wrap">
          <% pre_like = @tip.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to tip_like_path(@tip, pre_like), method: :delete, class: "delete_like" do %>
              <i id="unlike" class="fa fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to tip_likes_path(@tip), method: :post, class: "create_like" do %>
              <i id="like" class="fa fa-heart-o"></i>
            <% end %>
          <% end %>
          <%= @tip.likes.count %> <%= (@tip.likes.count) == 1 || (@tip.likes.count) == 0 ? 'like' : 'likes'%>
        </div>
      </div>
    </div>
    <div class="col-md-6 responsive-wrap">
      <% if @tip.pictures.count > 1 %>
      <div id="slider">
        <a class="control_next"><i class="fa fa-arrow-right"></i></a>
        <a class="control_prev"><i class="fa fa-arrow-left"></i></a>
        <ul>
          <% @tip.pictures.each do |image| %>
          <li><%= image_tag image, style: "width:100%" %></li>
          <% end %>
        </ul>
      </div>
      <% elsif @tip.pictures.attached? %>
        <% @tip.pictures.each do |image| %>
        <%= image_tag image, style: "width:100%" %>
        <% end %>
      <% else %>
        <%= image_tag "feat_slide1.jpg", style: "width:100%" %>
      <% end %>
    </div>
  </div>
</div>

    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->

    <!--//END RESERVE A SEAT -->
<section class="gray-dark booking-details_wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 responsive-wrap">
        <div class="booking-checkbox_wrap">
          <h4><%= @tip.comments.count %> <%= (@tip.comments.count) == 1 || (@tip.comments.count) == 0 ? 'commentaire' : 'commentaires' %>
          <hr>
          <% @tip.comments.each do |comment| %>
          <div class="customer-review_wrap">
            <div class="customer-img">
              <% commentor = User.find(comment.user_id) %>
              <% if commentor.avatar.attached? %>
                <%= image_tag commentor.avatar, class: "avatar" %>
              <% else %>
                <%= image_tag "avatar.jpg", class: "avatar" %>
              <% end %>
              <p><%= commentor.username %></p>
              <span><%= commentor.comments.count %> <%= (commentor.comments.count) == 1 || (commentor.comments.count) == 0 ? 'commentaire' : 'commentaires' %>
            </div>
            <div class="customer-content-wrap">
              <p class="customer-text text-justify"><%= comment.content %></p>
            </div>
          </div>
          <hr>
          <% end %>
          <% if @tip.comments.count == 0 %>
            <p class="customer-text"><h5>Pas encore de commentaires</h5>Sois le premier à en écrire un !</p>
          <% end %>
        </div>
        <div class="booking-checkbox_wrap my-4">
          <h5>Ajouter un commentaire</h5>
          <hr>
          <div class="customer-review-wrap">
            <div class="customer-img">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, class: "avatar" %>
              <% else %>
                <%= image_tag "avatar.jpg", class: "avatar" %>
              <% end %>
              <p><small><%= current_user.username %></small></p>
            </div>
          </div>
          <div class="customer-content-wrap form-group">
            <%= form_for([ @tip, @tip.comments.build ]) do |f| %>
            <p class="customer-text">
              <%= f.text_area :content, class:"form-control" %>
            </p>
            <p>
              <%= f.submit "Publier mon commentaire", class:"btn btn-primary" %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-4 responsive-wrap">
        <div class="contact-info">
          <div id="map"></div>
            <div class="address">
              <span class="fa fa-location-arrow"></span>
              <p><%= @tip.street %><br><%= @tip.city %><br><%= @tip.country %></p>
            </div>
            <div class="address">
              <span class="fa fa-desktop"></span>
              <p><a href="<%= @tip.site %>"><%= @tip.title %></a></p>
            </div>
          </div>
          <div class="follow">
            <div class="follow-img">
              <% writter = User.find(@tip.creator_id) %>
              <% if writter.avatar.attached? %>
                <a href="/users/registrations/<%= writter.id %>">
                  <%= image_tag writter.avatar, class: "avatar" %>
                </a>
              <% else %>
                <a href="/users/registrations/<%= writter.id %>">
                  <%= image_tag "avatar.jpg", class: "avatar" %>
                </a>
              <% end %>
              <h6><%= writter.firstname %></h6>
              <p class="customer-text"><%= writter.description %></p>
              <% if current_user.id == writter.id %>
              <% else %>
                <%= link_to 'Envoyer un message privé', conversations_path(sender_id: current_user.id, recipient_id: writter.id), method: 'post' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<!--//END BOOKING DETAILS -->
