<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <%= @tip.description %>

  <%= @tip.creator.username %>

  <p><%= @tip.likes.count %> <%= (@tip.likes.count) == 1 ? 'Like' : 'Likes'%></p>

  <% pre_like = @tip.likes.find { |like| like.user_id == current_user.id} %>
    <% if pre_like %>
      <%= button_to 'Unlike', tip_like_path(@tip, pre_like), method: :delete %>
    <% else %>
      <%= button_to 'Like', tip_likes_path(@tip), method: :post %>
    <% end %>

</body>
</html>
