    <!--============================= BOOKING =============================-->
<div class="container">
  <div class="row">
    <div class="col-md-6 responsive-wrap">
      <h5><%= @tip.title %></h5>
      <hr>
      <p class="booking-checkbox"><%= @tip.description %></p>
      <hr>
      <div class="row d-flex justify-content-between">
        <div class="col-md-3 responsive-wrap">
          <% @tip.categories.each do |name| %>
          <%= name.name %>
          <% end %>
        </div>
        <div class="col-md-3 responsive-wrap">
          <% pre_like = @tip.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to tip_like_path(@tip, pre_like), method: :delete, class: "delete" do %>
              <i id="unlike" class="fa fa-heart"></i>
            <%end%>
          <% else %>
            <%= link_to tip_likes_path(@tip), method: :post do %>
              <i id="like" class="fa fa-heart-o"></i>
            <% end %>
          <% end %>
          <%= @tip.likes.count %> <%= (@tip.likes.count) == 1 ? 'like' : 'likes'%>
        </div>
      </div>
    </div>
    <div class="col-md-6 responsive-wrap">
      <%= image_tag "feat_slide1.jpg", class: "image_tips img-fluid" %>
    </div>
  </div>
</div>

    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->

    <!--//END RESERVE A SEAT -->
<section class="gray-dark booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 responsive-wrap">
                <div class="booking-checkbox_wrap">
                  <div class="booking-checkbox_wrap mt-4">
                    <h4><%= @tip.comments.count %> <%= (@tip.comments.count) == 1 ? 'commentaire' : 'commentaires' %>
                    <hr>
                    <% @tip.comments.each do |comment| %>
                    <div class="customer-review_wrap">
                        <div class="customer-img">
                          <% commentor = User.find(comment.user_id) %>
                            <% if commentor.avatar.attached? %>
                              <%= image_tag commentor.avatar, class: "avatar" %>
                            <% else %>
                              <%= image_tag "avatar.jpg", class: "avatar" %>
                            <% end %>
                            <p><%= commentor.username %></p>
                            <span><%= commentor.comments.count %> <%= (commentor.comments.count) == 1 ? 'commentaire' : 'commentaires' %>
                        </div>
                        <div class="customer-content-wrap">
                          <div class="customer-review">
                            <p class="customer-text">
                              <%= comment.content %>
                            </p>
                          </div>
                        </div>
                    </div>
                    <hr>
                    <% end %>
                    <% if @tip.comments.count == 0 %>
                    <p class="customer-text"><h5>Pas encore de commentaires</h5>Sois le premier à en écrire un !</p>
                    <% end %>
                    <h5>Ajouter un commentaire</h5>
                    <h6><% if current_user.avatar.attached? %>
                      <%= image_tag current_user.avatar, class: "avatar" %>
                    <% else %>
                      <%= image_tag "avatar.jpg", class: "avatar" %>
                    <% end %><%= current_user.firstname %></h6>
                    <div class="form-group">

                    <%= form_for([ @tip, @tip.comments.build ]) do |f| %>
                    <p>
                      <%= f.text_area :content, class:"form-control" %>
                    </p>
                    <p>
                      <%= f.submit "Publier mon commentaire", class:"btn btn-primary" %>
                    </p>
                    <% end %>

                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-4 responsive-wrap">
                <div class="contact-info">
                    <%= image_tag "map.jpg", class: "img-fluid" %>
                    <div class="address">
                        <span class="fa fa-location-arrow"></span>
                        <p> Doyers St<br> New York, NY 10013<br> b/t Division St & St James Pl <br> Chinatown, Civic Center</p>
                    </div>
                </div>
                <div class="follow">
                    <div class="follow-img">
                      <% writter = User.find(@tip.creator_id) %>
                      <% if writter.avatar.attached? %>
                        <%= image_tag writter.avatar, class: "avatar" %>
                      <% else %>
                        <%= image_tag "avatar.jpg", class: "avatar" %>
                      <% end %>
                      <h6><%= writter.firstname %></h6>
                      <%= link_to 'Envoyer un message privé', conversations_path(sender_id: current_user.id, recipient_id: writter.id), method: 'post' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END BOOKING DETAILS -->
